* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

button,
input {
  display: block;
  background: transparent;
  border: 0;
  outline: 0;
}
button {
  cursor: pointer;
}

.wrapper {
  margin: 30px auto;
  max-width: 430px;
}
.container {
  padding: 20px;
}

.card {
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
}

.bg-image {
  position: relative;
  background: linear-gradient(to right, rgb(0 0 0 / 0.5), rgb(0 0 0 / 0)),
    url("./flower-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: 200px;
  z-index: 1;
}

.text-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 30px;
  bottom: 20px;
  text-align: right;
}
.month,
.time {
  font-family: "Russo One", sans-serif;
  color: #fff;
  z-index: 10;
}
.month {
  font-size: 18px;
}
.time {
  font-size: 48px;
}

.card-inner {
  padding: 32px 30px 78px;
  position: relative;
}

.input-container {
  display: flex;
  align-items: stretch;
  gap: 10px;
  width: 100%;
}
.empty-alert {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 14px;
  color: #ff6d60;
  font-family: "Russo One", sans-serif;
}
#input,
.add-btn {
  border-radius: 6px;
}
#input {
  background: #f0f0f0;
  flex: 1 1 75%;
  height: 50px;
  padding: 20px;
  font-size: 16px;
}
#input::placeholder {
  color: var(--c, #b7b7b7);
  font-size: 16px;
}
.add-btn {
  flex: 1 1 25%;
  font-size: 20px;
  background: #98d8aa;
  color: #fff;
}

.list-ul {
  margin: 50px 0;
}

.list-li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}
.li-title {
  font-size: 18px;
  color: #0d0d0d;
  margin-bottom: 5px;
  font-weight: 500;
}
.li-published {
  color: #b7b7b7;
  font-size: 14px;
}

.button-ul {
  display: flex;
  align-items: center;
  gap: 25px;
}
.done,
.delete {
  font-size: 18px;
  cursor: pointer;
}
.done {
  color: #98d8aa;
  border-radius: 50%;
}
.done i {
  border-radius: 50%;
}
.delete {
  color: #ff6d60;
}

.checkbox {
  display: none;
}